# Ignore compiled artifacts
*.o
*.out
*.exe
*.a
user/user
server/ES


# Ignore PDFs
*.pdf
*.jpg

# Ignore files 
*.png
*.txt
!corrections.txt

# Ignore reports
*.html

# Ignore USERS and ENVENTS
/EVENTS/*
/USERS/*

# Ignore Markdown
*.md
!README.md

# Ignore IDE settings
*.DS_Store
.vscode/
.idea/