# Ignore compiled artifacts
*.o
*.out
*.exe
*.a
user/user
server/server


# Ignore PDFs
*.pdf
*.jpg

# Ignore files 
*.png
*.txt
!corrections.txt

# Ignore USERS and ENVENTS
/EVENTS/*
/USERS/*

# Ignore Markdown
*.md

# Ignore IDE settings
.vscode/
.idea/